.Main header {
  display: flex;
  align-items: center;
  margin: 25px;
}
.Main header svg.menu {
  font-size: 35px;
  margin: 0 20px;
}

.Main header input {
  outline: none;
  padding: 8px 12px;
  margin-left: auto;
  width: 30%;
  border-radius: 1em;
  border: 1px solid #aaa;
}
.Main header svg.search {
  font-size: 27px;
  margin: 6px;
  color: rgb(79, 79, 79);
}

.Main header button {
  margin: 10px;
  border: none;
  font-size: 15px;
  background-color: transparent;
}

.Main header button:hover {
  cursor: pointer;
}

.Main header button:nth-of-type(1) {
  margin-left: auto;
}

.Main .article {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.Main nav {
  margin-left: 50px;
  text-align: left;
}

.Main nav ul {
  list-style: none;
}
